.padding-sm {
  padding: 1rem;
}

.padding-left-sm {
  padding-left: 1rem;
}

.padding-top-sm {
  padding-top: 1rem;
}

.padding-right-sm {
  padding-right: 1rem;
}

.padding-bottom-sm {
  padding-bottom: 1rem;
}
