:host {
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 490px) {
  ul {
    flex-direction: column;
  }
}
