<div class="main">
  <img src="/assets/Minecraft-Logo.png" />
  <h1>Management Console</h1>
  <section class="flex-column margin-top-sm">
    <section class="flex-row">
      <app-button (click)="onTabChange($event)" [active]="showCreate$ | async">Create</app-button>
      <app-button (click)="onTabChange($event)" [active]="showManage$ | async">Manage</app-button>
      <app-button (click)="onTabChange($event)" [active]="showSettings$ | async">Settings</app-button>
    </section>
    <section class="padding-sm">
      <h2>{{ tabTitle$ | async }}</h2>
      <section class="padding-left-sm">
        <app-create *ngIf="showCreate$ | async"></app-create>
        <app-manage *ngIf="showManage$ | async"></app-manage>
        <app-settings *ngIf="showSettings$ | async"></app-settings>
      </section>
    </section>
  </section>
  <section>
    <h2 class="padding-left-sm margin-top-sm margin-bottom-sm">History</h2>
    <app-history></app-history>
  </section>
</div>
