:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 40rem;
}

.main img {
    width: 100%;
}

.main h1 {
    text-align: center;
    font-weight: 100;
}

.main section {
    width: 100%;
}

.main section ul,
.main section ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main section.actions ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main section.actions .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 13rem;
}

.main section.actions .buttons button {
    font-family: 'Monocraft';
    height: 3rem;
    width: 6rem;
    font-weight: 300;
}

.main .buttons button:hover {
    cursor: pointer;
    font-weight: 400;
}

.main section.history .terminal {
    height: 15em;
    overflow-y: scroll;
    background-color: black;
    color: lightgrey;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.main section.history ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main p {
    margin: 0;
}
