<div class="main">
    <img src="/assets/Minecraft-Logo.png" />
    <h1>EZMC Management Console</h1>
    <section class="actions">
        <ul>
            <li>
                <h3>Start/Stop the game server</h3>
            </li>
            <li class="buttons">
                <button (click)="onStart()"><h4 class="title">Start</h4></button>
                <button (click)="onStop()"><h4 class="title">Stop</h4></button>
            </li>
        </ul>
    </section>
    <section class="history">
        <ul>
            <li>
                <h3>History</h3>
            </li>
            <li class="terminal">
                <ol reversed>
                    <li *ngFor="let action of history">
                        <p>
                            {{ action.timestamp | date : 'mediumTime' }} ~
                            {{ action.message }}
                        </p>
                    </li>
                </ol>
            </li>
        </ul>
    </section>
</div>
