:host {
  width: 100%;
}

ul {
  list-style-type: none;
}

ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

@media only screen and (max-width: 490px) {
  ul {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
